<ion-header>
  <ion-navbar >
    <ion-title text-center>
            iOT COE
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Enter topic to subscribe and message to publish
  <ion-list>
   
    <ion-item>
      <ion-label floating>Topic</ion-label>
      <ion-input type="number" [(ngModel)]="topic" ></ion-input>
   </ion-item>
   <ion-item *ngIf="topic">
      <ion-label floating >Message</ion-label>
      <ion-input type="text" [(ngModel)]="publishM" ></ion-input>
   </ion-item>
   <ion-item *ngIf="topic" text-center>
    <button *ngIf="publishM" ion-button large (click)="publish(topic,publishM)" >publish </button>
    <button ion-button large (click)="subscribe(topic)" >subscribe</button>
   </ion-item>

  </ion-list>

  <ion-content padding text-center>
  <div>Topic : {{topic}}</div>
  
  <ion-list margin-top>
      <ion-card *ngFor="let data of messageArray" text-center>
        <ion-card-content>{{data}}</ion-card-content>
      </ion-card>
    </ion-list>

  </ion-content>
</ion-content>
